OPENROUTER_API_KEY=
OPENROUTER_MODEL=openrouter/auto
MISTRAL_API_KEY=
MISTRAL_OCR_MODEL=mistral-ocr-latest
SERPER_API_KEY=
SERPER_SEARCH_GL=
SERPER_SEARCH_HL=
QDRANT_URL=
QDRANT_API_KEY=
EMBEDDING_API_KEY=
APP_NAME=TaskMate
R2_BUCKET_NAME=taskmate-homework-files
QDRANT_COLLECTION=document_chunks
